@model POS.Models.Dtr

<div class="bt-white p-4 rounded shadow-lg mx-auto">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="EmployeeId" class="control-label">Employee Name</label>
                    <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="DtrDate" class="control-label">Date</label>
                    <input type="date" asp-for="DtrDate" class="form-control" />
                    <span asp-validation-for="DtrDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TimeIn" class="control-label"></label>
                    <input asp-for="TimeIn" class="form-control" />
                    <span asp-validation-for="TimeIn" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TimeOut" class="control-label"></label>
                    <input asp-for="TimeOut" class="form-control" />
                    <span asp-validation-for="TimeOut" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-primary px-4" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
